@media (min-width: 400px) and (max-width: 999px){


    h1,  p:not(.sidebar p){
        display: flex;
        justify-content: center;
    }

    #course-button, #course-text, table, #course-response{
        justify-content:center;
        flex-direction:row;
    }

    h1, h2{
        font-size: 64px;
    }
    .widget a{
        font-size: 36px;
    }
    #palette1 {
        position: absolute;
        left: 0.5vw;
        top: 18vh;
        height: 2.5vh;
        width: 4.5vw;
    }
    #palette2 {
        position: absolute;
        left: 6vw;
        top: 18vh;
        height: 2.5vh;
        width: 4.5vw;
    }
    #palette3 {
        position: absolute;
        left: 11.5vw;
        top: 18vh;
        height: 2.5vh;
        width: 4.5vw;
    }
    #close-button{
        position: absolute;
        left: 17.5vw;
    }
    p:not(.sidebar p){
        width:40vw;
        font-size:28px;
    }
    .sidebar p{
        font-size:24px;
        width:17vw;
        height:60vh;
    }

    .widget{
        height: 9%;
        width: 99.3%;
        position: absolute;
        left: 0.01%;
    }
}

@media (min-width: 1000px) and (max-width: 1399px){

    h1, h2{
        font-size: 64px;
    }

    h1,  p:not(.sidebar p){
        display: flex;
        justify-content: center;
    }

    #course-button, #course-text, table, #course-response{
        justify-content:center;
        flex-direction:row;
    }
    
    .widget a{
        font-size: 36px;
    }
    #palette1 {
        position: absolute;
        left: 0.5vw;
        top: 12vh;
        height: 2.5vh;
        width: 4.5vw;
    }
    #palette2 {
        position: absolute;
        left: 6vw;
        top: 12vh;
        height: 2.5vh;
        width: 4.5vw;
    }
    #palette3 {
        position: absolute;
        left: 11.5vw;
        top: 12vh;
        height: 2.5vh;
        width: 4.5vw;
    }
    #close-button{
        position: absolute;
        left: 17.5vw;
    }
    p:not(.sidebar p){
        position:absolute;
        top: 20vh;
        left: 26vw;
        font-size:28px;
        width: 50vw;
    }

    .sidebar p{
        font-size:24px;
        width:17vw;
        height:60vh;
    }
    
    .widget{
        width: 99.3%;
        position: absolute;
        top: 105vh;
        left: 0.01%;
    }
}