img{
    border-style: solid;
    border-width: 4px;
    border-color:rgb(0, 225, 255);  
    padding: 2px;
    margin: 2px;
}

body{
    background-color: rgb(36,46,50);
}
h2{
    color: rgb(255,255,255);
}

p{
    color: rgb(255,255,255);
}
.aboutmep p{
    width:40%; 
    border-style:solid;
    border-color: black; 
    position:relative; 
    margin:0 auto;
}

.aboutmep img{
    width:25%;
}

.sidebar a{
    width:7%; position:absolute; left:0.015%; top:13%
}
.sidebar p{
    font-weight:bold;
    border-style: solid; 
    border-color: rgb(0, 225, 255);  
    width:7%; height:55%; 
    position:absolute; 
    left: 0.01%; 
    top:5%;
    background-color: rgb(233, 131, 131);
    color: black;
}

#bulletin {
    background-image: url("https://t4.ftcdn.net/jpg/00/38/09/19/360_F_38091957_jYcFRja0hUav8KNAPks62eWL7tUlV425.jpg");
    background-size: 50%;
    font-size: 64px;
    height: 250px;
    width: 40%;
    position: relative;
    top: 50%;
    text-align: center;

}


.sidebar p::before{
    content: "*";
    font-size:28;
}

#close-button{
    position:absolute; 
    left: 7.3%; 
    top:8%;
}

#open-button{
    display: none;
    position:absolute; 
    left: 0.01%; 
    top:8%;
}


[title~="Section"]{
    color: rgb(255, 0, 230);
}

h1, h2{
    font-size:48px;
    text-align: center;
    
}

h ~ h{ 
    font-weight:bold;
}

a{
    color: black;
}

.widget{
    width: 300px; 
    border-style:solid;
    border-color: rgb(0, 225, 255);  
    background-color: palevioletred;
    position:absolute; 
    left: 82%; 
    top: 90%; 
    margin: auto;
}





*{
    font-family: arial;
}

table{
    border: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(81, 0, 255);
}
td, tr{
    border: 1px;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    color: white;
}



.contactinfo form{
    width: 15%;
    height: 60%;
    border-width: 6px;
    border-color: rgb(255, 0, 106);
    border-style:solid;
    font-size: 4px;
}
.contactinfo input{
    width:60%;
    padding: 10px 10px;
}

.Gallery{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px;
    padding: 20px;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.navigation > a{
    border-width:2px;
    border-style:solid; 
    border-color: black; 
    font-size:36px; 
    color: rgb(0, 255, 26);
    font-weight: bold;
}
.careers{
    width: 600px
}
div + table{
    width: 400px;
}

.careers img{
    width:70%;
}


#palette1 {
    position: absolute;
    left: 0.75vw;
    top: 12vh;
    height: 2.5vh;
    width: 1.5vw;
}
#palette2 {
    position: absolute;
    left: 2.75vw;
    top: 12vh;
    height: 2.5vh;
    width: 1.5vw;
}
#palette3 {
    position: absolute;
    left: 4.75vw;
    top: 12vh;
    height: 2.5vh;
    width: 1.5vw;
}
table, th, td {
    border:1px solid black;
}